@import './base.css';

#app {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  margin-left: 4px;
  text-decoration: none;
  border: 2px solid var(--vt-c-white);
  transition: 0.4s;
}

.page-container {
  min-width: 600px;
}

.page-main-img {
  width: 100%;
  min-width: 600px;
  height: 500px;
  background-size: cover;
}

.page-main-img .text {
  padding-left: 60px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.page-main-img .text .title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  color: var(--fas-blue);
}

.page-main-img .text .subtitle {
  padding: 10px 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.1;
  color: var(--vt-c-black-soft);
}

.page-main-img .text .description {
  padding: 40px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--vt-c-black-soft);
}

.page-main-img .text .empty {
  padding-top: 40px;
}

.page-main-img .text .action {
  background-color: var(--vt-c-black-soft);
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.page-main-img .text .action a {
  display: block;
  color: var(--vt-c-white-mute);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-width: 0;
}

.white-gap {
  clear: left;
  height: 40px;
  background-color: var(--vt-c-white);
}

.basic-container {
  min-width: 600px;
  width: 100%;
  padding: 40px 60px;
  font-size: 18px;
  line-height: 1.3;
}

.basic-container p:not(:first-of-type) {
  padding-top: 10px;
}

.white-container {
  background-color: var(--vt-c-white);
  color: var(--vt-c-black-soft);
}

.soft-white-container {
  background-color: var(--vt-c-white-soft);
  color: var(--vt-c-black-soft);
}

.soft-white-container .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.soft-white-container .title:not(:first-of-type) {
  padding-top: 20px;
}

.blue-container {
  background-color: var(--fas-blue);
  color: var(--vt-c-white);
}

.blue-container .title {
  width: 100%;
  text-align: center;
  color: var(--vt-c-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.bold-text {
  font-weight: 600;
}

.split-container {
  padding: 40px 60px 0;
}

.split-container .title {
  color: var(--fas-blue);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.split-container .description {
  color: var(--vt-c-black-soft);
  padding-top: 40px;
  font-size: 18px;
  line-height: 1.3;
}

.split-container .description p:not(:first-of-type) {
  padding-top: 10px;
}

.inline-link {
  border: 0;
  border-bottom: 1px dotted var(--vt-c-black-soft);
  color: var(--vt-c-black-soft);
}

.inline-link:hover {
  color: var(--fas-blue);
  border-bottom: 1px dotted var(--fas-blue);
}

.video-container {
  width: 100%;
  text-align: center;
  padding: 0 0 40px;
}

.video {
  display: inline-block;
  width: 560px;
  height: 315px;
}

.video iframe {
  border: 0;
}

.container-with-blocks {
  display: flex;
  width: 600px;
  min-width: 600px;
  margin: 0 auto;
  padding: 5px 0;
}

.container-with-blocks .block {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 0 5px;
  font-size: 12px;
  line-height: 1.3;
  background-color: var(--vt-c-white-soft);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
          box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
}

.img-container {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.img-container img {
  width: 500px;
}

.img-container div {
  color: var(--vt-c-white);
  font-weight: 400;
  font-size: 18px;
}

.shifted-div {
  padding: 20px 0 0 40px;
}

.shifted-div-title {
  border: 0;
  border-bottom: 1px dotted var(--vt-c-white);
  color: var(--vt-c-white);
}

.shifted-div-title:hover {
  cursor: pointer;
  color: var(--vt-c-black-soft);
  border-bottom: 1px dotted var(--vt-c-black-soft);
}

.shifted-div-details {
  border-style: dotted;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .split-container .title {
    font-weight: 900;
    font-size: 50px;
  }

  .blue-container .title {
    font-weight: 900;
    font-size: 50px;
  }

  .img-container img {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .page-main-img {
    height: 600px;
  }

  .page-main-img .text .title {
    font-size: 60px;
  }

  .page-main-img .text .subtitle {
    font-size: 80px;
  }

  .page-main-img .text .description {
    font-size: 26px;
  }

  .page-main-img .text .action {
    background-color: var(--vt-c-black-soft);
    width: 300px;
    height: 60px;
    line-height: 60px;
  }

  .page-main-img .text .action a {
    font-size: 20px;
  }

  .video {
    width: 800px;
    height: 450px;
  }

  .container-with-blocks {
    width: 900px;
    padding: 10px 0;
  }

  .container-with-blocks .block {
    width: 450px;
    margin: 0 10px;
    font-size: 16px;
  }

  .img-container img {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .page-main-img {
    height: 800px;
  }

  .page-main-img .text {
    padding-left: 120px;
  }

  .page-main-img .text .title {
    font-size: 70px;
  }

  .page-main-img .text .subtitle {
    font-size: 100px;
  }

  .basic-container {
    padding: 80px 120px;
    font-size: 26px;
  }

  .basic-container p:not(:first-of-type) {
    padding-top: 15px;
  }

  .soft-white-container .title {
    font-size: 26px;
  }

  .split-container {
    padding: 80px 120px 0;
  }

  .split-container .title {
    float: left;
    width: 25%;
  }

  .split-container .description {
    padding: 10px 0 20px 100px;
    float: left;
    width: 75%;
    font-size: 22px;
  }

  .video-container {
    padding: 40px 0;
  }

  .white-gap {
    height: 60px;
  }

  .container-with-blocks {
    width: 1050px;
    padding: 10px 0;
  }

  .container-with-blocks .block {
    width: 525px;
    margin: 0 10px;
    font-size: 18px;
  }
}
